<footer class="app-footer">
    <div class="float-right d-none d-sm-block">
        Made in India
    </div>
    <strong>Copyright &copy; <script>document.write(new Date().getFullYear());</script> <a href="https://yashgohel.com">yashgohel.com</a>.</strong> All rights reserved.
</footer>